<% title 'Sign in' %>

<div id="wrong_place">
	Don't have an account? <%= link_to 'Sign up for one', sign_up_url %>.
</div>

<%= form_tag '/session', method: :post do %>
	<div class="input">
		<label for="session_username">Username</label>
		<%= text_field_tag 'session[username]' %>
	</div>
	
	<div class="input">
		<label for="session_password">Password</label>
		<%= password_field_tag 'session[password]' %>
	</div>
	
	<%= submit_tag 'Sign in' %>
<% end %>