<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= Preference.get 'site_name' %> &mdash; <%= yield :title %></title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=320px, initial-scale=1.0, maximum-scale=1.0">
	<meta name="author" content="">
	<meta name="description" content="">
	<%= theme_stylesheet_link_tag 'screen' %>
</head>
<body>
	<div class="container" id="main">
		<%= flash_messages %>		
		<header class="row">
			<h1><a href="/"><%= Preference.get 'site_name' %></a></h1>
			<h2><%= Preference.get 'site_tagline' %></h2>
		</header>
		
		<div id="content" class="row">
			<%= yield %>
		</div>
		
		<footer class="row">
			&copy; 2011 <%= Preference.get 'author_name' %>. This is a <a href="http://clovrr.com">Clovrr</a> blog.
		</footer>		
	</div>
</body>
</html>