<!DOCTYPE html>
<html lang="en">
<head>
	<title>Evan Walsh: For your health</title>
	<!--<link href="/stylesheets/screen.css" rel="stylesheet" media="screen, print" />
	<link href="/stylesheets/handheld.css" rel="stylesheet" media="only screen and (max-device-width: 480px)" />-->	
	<%= stylesheet_link_tag 'screen' %>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=320px, initial-scale=1.0, maximum-scale=1.0">
	<link rel="shortcut icon" href="/favicon.ico">
	<meta name="author" content="Evan Walsh">
	<meta name="description" content="The blog of Christian web guy Evan Walsh. Read his thoughts of stuff or something.">
	<%= csrf_meta_tag %>
</head>
<body>
	<% if signed_in? %>
	<div id="admin">
		<nav>
			<ul>
		    <li><a id="posts" href="#">Posts</a></li>
				<li><a id="users" href="#">Users</a></li>
				<li><a id="preferences" href="#">Preferences</a></li>
			</ul>
		</nav>
	</div>
	<% end %>
	
	<div class="container" id="main">
		
		<%= flash_messages %>
		
		<header>
			<h1>
			    <a href="/">Evan Walsh</a>
			</h1>
			<h2>For your health</h2>
		</header>
		
		<div id="content">
			
			<%= yield %>
			
		</div>
		
		<footer>
			&copy; 2011 Evan Walsh. All Rights Reserved. You should <a href="javascript:alert('Coming soon.')">subscribe via RSS.</a>
		</footer>
		
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='/javascripts/jquery.js'>\x3C/script>")</script>
	<%= javascript_include_tag 'application' %>
</body>
</html>