<!DOCTYPE html>
<html lang="en">
<head>
	<title>Clovrr: <%= yield :title %></title>
	<%= stylesheet_link_tag 'users' %>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=320px, initial-scale=1.0, maximum-scale=1.0">
	<link rel="shortcut icon" href="/favicon.ico">
	<%= csrf_meta_tag %>
</head>
<body>
	
	<div id="main">
		
		<%= flash_messages %>
		
		<header>
			<h1><%= Preference.get 'site_name' %></h1>
			<h2><%= yield :title %></h2>
		</header>
		
		<div id="content">
			
			<%= yield %>
			
		</div>
		
		<footer class="clearfix">
			<%= link_to raw('&larr; Go Back'), root_url %>
			<span id="powered_by">Powered by <a href="http://clovrr.com">Clovrr</a></span>
		</footer>
		
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='/javascripts/jquery.js'>\x3C/script>")</script>
	<%= javascript_include_tag 'session' %>
</body>
</html>